{% extends 'Notes/main.html' %}
{% load static %}

{% block content %}
<div class="header-bar">
    <a href="{% url 'notes' %}">Go Back</a>
</div>


<div class="note-detail">
    <form method="POST" enctype="multipart/form-data" action="">
        {% csrf_token %}
        {{ form.as_p }}

        <!-- Tag widget block -->
        <div class="tag-field"
            data-tag-root
            data-tag-input="#tag_input"
            data-tag-hidden="#tags_hidden"
            data-tag-container="#tag_container">
        <label for="tag_input">Tags (press Enter to add)</label>
        <input id="tag_input" type="text" placeholder="Type a tag and press Enter" autocomplete="off">
        <input type="hidden" name="tags_hidden" id="tags_hidden" value="">
        <div id="tag_container" class="tag-container"></div>
        </div>

        <input type="submit" value="Submit" class="button">
    </form>
</div>

<!-- ES Module import -->
<script type="module">
  import { initAllTagWidgets } from "{% static 'js/tags.js' %}";
  initAllTagWidgets();
</script>
{% endblock content %}