# Python
__pycache__/
*.py[cod]
*.log

# Translation files
*.pot

# SQLite DB
db.sqlite3

# Media and user uploads
/media/

# Static files collected for deployment
staticfiles/

# Virtual environment
venv/

# VSCode or IDE configs
.vscode/
.idea/

# OS/system files
.DS_Store
Thumbs.db

# Optional: env file
.env
